<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}

    <div class="page-content container">
        <div class="row justify-content-center mt-3">
            <div class="col col-md-6 col-lg-4">

                {% if form.errors %}
                    <div class="alert alert-danger mt-3" role="alert">
                      Username or Password incorrect!
                    </div>
                {% endif %}

               <form role="form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group">
                            <input class="form-control mt-3" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.label }}" type="{{ field.widget_type }}" />
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-secondary mt-3" value="login" />
    {#                <input type="hidden" name="next" value="{{ next }}" />#}
                </form>
            </div>
        </div>
    </div>

{% endblock %}