{% extends 'base.html' %}


{% load static %}


{% block headContent %}

    <style>
        .bg-1 {
            background-image: url("{% static 'img/menu-item-bg-1.jpg' %}");
        }
        .bg-2 {
            background-image: url("{% static 'img/menu-item-bg-2.jpg' %}");
        }
        .bg-3 {
            background-image: url("{% static 'img/menu-item-bg-3.jpg' %}");
        }
        .bg-4 {
            background-image: url("{% static 'img/menu-item-bg-4.jpg' %}");
        }
        .bg-5 {
            background-image: url("{% static 'img/menu-item-bg-5.jpg' %}");
        }
        .bg-6 {
            background-image: url("{% static 'img/menu-item-bg-6.jpg' %}");
        }
        .bg-7 {
            background-image: url("{% static 'img/menu-item-bg-7.jpg' %}");
        }
        .bg-8 {
            background-image: url("{% static 'img/menu-item-bg-8.jpg' %}");
        }
    </style>

{% endblock %}



{% block content %}

   <main class="page-content">
        <section class="section section-menu">
            <div class="menu-items-container">
                 <div class="menu-item bg-8">
                    <div class="menu-item-header">
                        <a href="{% url 'analyzer:analyzer' %}">Analyze Client Data</a>
                    </div>
                </div>
               <div class="menu-item bg-7">
                    <div class="menu-item-header">
                        <a href="{% url 'core_app:under-construction' %}">Add a New Client</a>
                    </div>
                </div>
               <div class="menu-item bg-6">
                    <div class="menu-item-header">
                        <a href="{% url 'core_app:under-construction' %}">Edit Client Profile</a>
                    </div>
                </div>
                <div class="menu-item bg-5">
                    <div class="menu-item-header">
                        <a href="{% url 'core_app:under-construction' %}">Reset Client Password</a>
                    </div>
                </div>
           </div>
        </section>
   </main>




{% endblock %}

