{% extends 'base.html' %}


{% load static %}


{% block headContent %}


{% endblock %}



{% block content %}

   <main class="page-content">
        <section class="section section-dashboard">
            <div class="dashboard-cards-container">
                <div class="dashboard-card">
                    <div class="dashboard-card-header">
                        <h2>Fitness Tracker</h2>
                    </div>
                    <div class="dashboard-card-nav">
                        <a class="btn btn-primary btn-grow" href="{% url 'core_app:under-construction' %}">Go  >></a>
                    </div>
                </div>
                <div class="dashboard-card">
                    <div class="dashboard-card-header">
                        <h2>Web Site Settings</h2>
                    </div>
                    <div class="dashboard-card-nav">
                        <a class="btn btn-primary btn-grow" href="{% url 'core_app:under-construction' %}">Go  >></a>
                    </div>
                </div>
                <div class="dashboard-card">
                    <div class="dashboard-card-header">
                        <h2>Manage Clients</h2>
                    </div>
                    <div class="dashboard-card-nav">
                        <a class="btn btn-primary btn-grow" href="{% url 'core_app:under-construction' %}">Go  >></a>
                    </div>
               </div>
                <div class="dashboard-card">
                    <div class="dashboard-card-header">
                        <h2>Profile</h2>
                    </div>
                    <div class="dashboard-card-nav">
                        <a class="btn btn-primary btn-grow" href="{% url 'core_app:under-construction' %}">Go  >></a>
                    </div>
                </div>
            </div>
        </section>
   </main>




{% endblock %}

