{% extends 'base.html' %}


{% load static %}


{% block headContent %}

    <style>
        .full-screen-header {
            background-image: url("{% static 'img/home-page-bg.jpg' %}");
        }

         @media (max-width: 544px) {

            .full-screen-header {
                background-image: url("{% static 'img/home-page-bg-mobile.jpg' %}");
            }

        }
   </style>

{% endblock %}



{% block content %}

    <header class="full-screen-header">
        <h1 class="title">Derek Haff Fitness</h1>
        <span class="sub-title">Be Your Best In 2023</span>
{#        <a class="btn btn-primary btn-grow" href="#curriculum-section">Learn More</a>#}
        <a href="#curriculum-section"><img class="scroll-down-icon" src="{% static 'img/arrow_down_primary.svg' %}" alt="Scroll Down Icon"></a>
    </header>
    <main>
        <section id="curriculum-section" class="section">
            <h2 class="section-title">What You Get</h2>
            <div class="curriculum-grid">
                <div class="curriculum-grid-item">
                    <img src="{% static 'img/map-location-icon.svg' %}" alt="Map Location Icon">
                    <p>Located in beautiful Davis, California. Serving Davis and the surrounding communities in Yolo and Sacramento Counties.</p>
                </div>
               <div class="curriculum-grid-item">
                    <img src="{% static 'img/calendar-icon.svg' %}" alt="Calendar Icon">
                    <p>Flexible scheduling. We&apos;ll tailor workouts to fit your busy lifestyle and crush your fitness goals.</p>
                </div>
                <div class="curriculum-grid-item">
                    <img src="{% static 'img/fat-to-thin-icon.svg' %}" alt="Fat to Fit Icon">
                    <p>Personalized fitness assessment and goal setting. We will match your workouts to your goals and current abilities.</p>
                </div>
                <div class="curriculum-grid-item">
                    <img src="{% static 'img/lotus-icon.png' %}" alt="Lotus Icon">
                    <p>A supportive and encouraging workout environment. If it&apos;s fun, you'll keep coming back.</p>
                </div>
                <div class="curriculum-grid-item">
                    <img src="{% static 'img/clipboard-icon.svg' %}" alt="Clipboard Icon">
                    <p>Web-based tools to help you track your progress and fuel your motivation.</p>
                </div>
                <div class="curriculum-grid-item">
                    <img src="{% static 'img/military-press-icon.svg' %}" alt="Military Press Icon">
                    <p>An online library of demonstration videos to help you maintain excellent form and technique when you work out at home.</p>
                </div>
            </div>
        </section>
        <section class="section section-accent">
            <div class="pricing-cards-container">
                <div class="pricing-card">
                    <div class="price-header">
                        <div class="plan-name">Lunch-Fit</div>
                        <div class="plan-price">$60</div>
                    </div>
                    <div class="plan-features">
                        <div class="feature">45 Minute Training Session</div>
                        <div class="feature">Personalized Assessment</div>
                        <div class="feature">Personalized Goal Setting</div>
                        <div class="feature inactive">Goal Tracking on Our Web Site</div>
                        <div class="feature inactive">Personalized Diet Coaching</div>
                        <div class="feature inactive">24/7 Email &amp; Phone Support</div>
                    </div>
                </div>
                <div class="pricing-card accent">
                    <div class="price-header">
                        <div class="plan-name">Haff-Fit</div>
                        <div class="plan-price">$70</div>
                    </div>
                    <div class="plan-features">
                        <div class="feature">60 Minute Training Session</div>
                        <div class="feature">Personalized Assessment</div>
                        <div class="feature">Personalized Goal Setting</div>
                        <div class="feature">Goal Tracking on Our Web Site</div>
                        <div class="feature inactive">Personalized Diet Coaching</div>
                        <div class="feature inactive">24/7 Email &amp; Phone Support</div>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="price-header">
                        <div class="plan-name">Pro-Fit</div>
                        <div class="plan-price">$80</div>
                    </div>
                    <div class="plan-features">
                        <div class="feature">75 Minute Training Session</div>
                        <div class="feature">Personalized Assessment</div>
                        <div class="feature">Personalized Goal Setting</div>
                        <div class="feature">Goal Tracking on Our Web Site</div>
                        <div class="feature">Personalized Diet Coaching</div>
                        <div class="feature">24/7 Email &amp; Phone Support</div>
                   </div>
                </div>
            </div>
        </section>
        <section id="contact-section" class="section">
            <h2 class="section-title">Contact Derek</h2>

                <form class="form" role="form" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger mt-3" role="alert">
                          {{ form.errors }}
                        </div>
                    {% endif %}

                    {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.widget_type == "textarea" %}
                                <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="<required>"></textarea>
                            {% else %}
                                <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="<required>">
                            {% endif %}
                    {% endfor %}
                    <div class="btn-container">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
        </section>
    </main>

    <footer>
        <nav class="nav">
            <a href="{% url 'core_app:home' %}"><img class="logo" src="{% static 'img/DHF-logo-primary.png' %}" alt="Derek Haff Fitness Logo"></a>
            <ul class="nav-list">
                <li><a href="#"><img class="scroll-up-icon" src="{% static 'img/arrow_up_primary.svg' %}" alt="Scroll Up Icon"></a></li>
            </ul>
        </nav>
    </footer>

{% endblock %}
