{% extends 'base.html' %}

{% load static %}

{% load settings_value %}


{% block headContent %}

    <script type="text/javascript">
        sessionStorage.setItem("MEASUREMENT_API_URL", '{% settings_value "MEASUREMENT_API_URL" %}')
        sessionStorage.setItem("MACRO_API_URL", '{% settings_value "MACRO_API_URL" %}')
        sessionStorage.setItem("USER_ID", '{{ user.id }}')
    </script>

    <script defer src="{% static 'js/index-bundle.js' %}"></script>

{% endblock %}


{% block content %}

    <main class="page-content">

        <noscript>JavaScript must be enabled to run this app.</noscript>

        <div id="tracker-js" />

    </main>
{% endblock %}